<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDok5o3L3Q7D4W3mDErS5id8KxD1zbcs7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>689531434090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atividadesDadm</string>
	<key>PROJECT_ID</key>
	<string>notas-ddd35</string>
	<key>STORAGE_BUCKET</key>
	<string>notas-ddd35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689531434090:ios:abdf70340960968fe18613</string>
</dict>
</plist>